@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap");

.get-back-div {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.get-back-btn {
  border: 1px solid black;
  border-radius: 5px;
  width: 6rem;
  height: 3rem;
  background-color: antiquewhite;
}

.get-back-btn:hover {
  cursor: pointer;
  background-color: white;
}

.pokemon-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-card {
  padding: 0.5rem;
  background-color: antiquewhite;
  border-radius: 14px;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-img__container {
  width: 10rem;
  height: 10rem;
  text-align: center;
}

.pokemon-img {
  width: 10rem;
  height: 10rem;
}

.pokemon-name-div {
  font-family: "Quicksand";
  font-size: 2rem;
  width: 100%;
  text-align: center;
  background-color: rgb(177, 177, 157);
  color: black;
  border-radius: 5px 5px 0 0;
}

.pokemon-favorite {
  font-size: 2.5rem;
}

.pokemon-add-favorite {
  background-color: rgb(177, 177, 157);
  border-radius: 6px;
  height: 2.4rem;
  width: 8rem;
  font-family: "Quicksand";
  border: 1px solid black;
  margin-bottom: 0.4rem;
}

.pokemon-add-favorite:hover {
  cursor: pointer;
  background-color: rgb(218, 204, 188);
}

.pokemon-favorite_container {
  margin-bottom: 0.4rem;
  height: 2rem;
}

.pokemon-favorite:hover {
  color: black;
  cursor: pointer;
}

.pokemon-types__text {
  font-family: "Quicksand";
  font-size: 1.4rem;
}

.pokemon-types {
  width: 10rem;
  display: flex;
  font-family: "Quicksand";
  margin: 0.1rem 0;
  padding: 0;
  list-style: none;
  text-align: center;
  justify-content: space-around;
}

.pokemon-evolution-chain__text {
  font-family: "Quicksand";
  font-size: 1.4rem;
  margin-top: 1.2rem;
}

.pokemon-evolution-chain {
  list-style: upper-roman;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: "Quicksand";
  padding: 0;
}

.active {
  background-color: rgb(226, 226, 40);
}
