.main-header {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header__img-container {
  width: 8%;
  height: 8vh;
  min-width: 115px;
  min-height: 115px;
  max-width: 115px;
  max-height: 115px;
}

.main-header__img {
  width: 100%;
  height: 100%;
}

.main-header ul {
  margin: 2rem;
  padding: 5px;
  gap: 2rem;
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 40%;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 520px) {
  .main-header ul {
    flex-wrap: wrap;
    gap: 0;
  }

  .item {
    margin: 0.4rem 0.2rem;
  }

  .item:nth-child(2) {
    order: 2;
    margin-bottom: 0;
  }
}

.item {
  flex: 1;
  text-align: center;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item a:hover {
  cursor: pointer;
}

.favorite-logo__container {
  display: flex;
  align-items: center;
}

.main-header__link {
  text-decoration: none;
  color: black;
}
